<ion-header [translucent]="true"> </ion-header>
<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 16px;
    background-image: url("/assets/background/background1.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
  }

  .logo {
    width: 100%;
    max-width: 200px;
    margin-bottom: 32px;
  }

  ion-item {
    width: 100%;
    max-width: 400px;
    margin-bottom: 16px;
  }

  ion-button {
    width: 100%;
    max-width: 400px;
    margin-top: 16px;
  }

  .register-link {
    margin-top: 400px;
    font-size: 14px;
    color: #888;
  }

  .eucompro {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
  }
</style>

<ion-content>
  <div class="container">
    <p class="">EuCompro</p>
    <ion-item>
      <ion-input placeholder="Email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Palavra-passe" type="password"></ion-input>
    </ion-item>
    <ion-button expand="block">Entrar</ion-button>
    <p class="register-link">Não tens conta?</p>
  </div>
</ion-content>
